<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428614578673-v07l4929jlre9ae4j6otd93bi5q60ttj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428614578673-v07l4929jlre9ae4j6otd93bi5q60ttj</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Du7MEgmpV-4wz9Nr4nZis5NnVpIlLmM</string>
	<key>GCM_SENDER_ID</key>
	<string>428614578673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin.emoji-quiz</string>
	<key>PROJECT_ID</key>
	<string>emojiquizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>emojiquizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428614578673:ios:b0fc1268ee0b18ff</string>
	<key>DATABASE_URL</key>
	<string>https://emojiquizapp.firebaseio.com</string>
</dict>
</plist>